sudo dnf install wget unzip -y
sudo dnf install httpd -y
sudo systemctl enable httpd
sudo systemctl start httpd
sudo systemctl status httpd
sudo dnf install php php-mysqlnd php-gd php-xml php-mbstring php-json php-cli -y
sudo systemctl restart httpd
sudo dnf install php php-mysqlnd php-gd php-xml php-mbstring php-json php-cli -y
sudo systemctl restart httpd
sudo dnf install mariadb-server -y
sudo systemctl enable mariadb
sudo systemctl start mariadb
sudo mysql_secure_installation

sudo mysql -u root -p

#CREATE DATABASE wordpress;
#CREATE USER 'wpuser'@'localhost' IDENTIFIED BY 'password123';
#GRANT ALL PRIVILEGES ON wordpress.* TO 'wpuser'@'localhost';
#FLUSH PRIVILEGES;
#EXIT;

cd /var/www/html
sudo wget https://wordpress.org/latest.zip
sudo unzip latest.zip
sudo mv wordpress/* .
sudo chown -R apache:apache /var/www/html
sudo chmod -R 755 /var/www/html

cd /var/www/html
sudo cp wp-config-sample.php wp-config.php
sudo nano wp-config.php

#Edit these lines
#define('DB_NAME', 'wordpress');
#define('DB_USER', 'wpuser');
#define('DB_PASSWORD', 'password123');
#define('DB_HOST', 'localhost');

sudo firewall-cmd --permanent --add-service=http
sudo firewall-cmd --permanent --add-service=https
sudo firewall-cmd --reload
sudo setsebool -P httpd_can_network_connect_db 1

sudo systemctl restart httpd

yum install -y nginx
systemctl start nginx
ps -ef | grep nginx
#edit in /etc/nginx/nginx.conf
#server {


#  listen 81;
#  loaction / {
#    root /var/www/html;
#    index index.html 
#   }
#   location /index {
#     proxy_pass http://localhost;
#   }


#}

sudo dnf install -y php php-cli php-fpm php-mysqlnd
sudo systemctl enable php-fpm
sudo systemctl start php-fpm

 Nginx Reverse Proxy

# Flask reverse proxy
server {
    listen 80;
    server_name flask.local;

    location / {
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

# PHP site
server {
    listen 80;
    server_name php.local;

    root /var/www/html;
    index index.php index.html;

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
